.u-section-1 .u-sheet-1 {
  min-height: 416px;
}

.u-section-1 .u-image-1 {
  width: 270px;
  height: 270px;
  margin: 9px auto 0;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  margin: 16px auto 60px;
}.u-section-2 .u-sheet-1 {
  min-height: 727px;
}

.u-section-2 .u-form-1 {
  height: 649px;
  width: 570px;
  margin: 9px auto 60px;
}

.u-section-2 .u-form-group-3 {
  margin-left: 0;
}

.u-section-2 .u-form-group-5 {
  margin-left: 0;
}

.u-section-2 .u-form-group-6 {
  margin-left: 0;
}

.u-section-2 .u-form-group-7 {
  margin-left: 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
}

@media (max-width: 767px) {
  .u-section-2 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-form-1 {
    width: 340px;
  }
}