<!DOCTYPE html>
<html style="font-size: 16px;" lang="ru"><head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="EcoSanaa">
    <meta name="description" content="">
    <title>edit_profile</title>
    <link rel="stylesheet" href="css.css" media="screen">
<link rel="stylesheet" href="edit_profile.css" media="screen">
    <script class="u-script" type="text/javascript" src="jquery.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="js.js" defer=""></script>

    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <link id="u-page-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,500,500i,600,600i,700,700i,800,800i,900,900i">
    
    
    
    
    <script type="application/ld+json">{
		"@context": "http://schema.org",
		"@type": "Organization",
		"name": ""
}</script>
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="edit_profile">
    <meta property="og:type" content="website">
  <meta data-intl-tel-input-cdn-path="intlTelInput/"></head>
  <body data-path-to-root="./" data-include-products="false" class="u-body u-xl-mode" data-lang="ru"><header class="u-clearfix u-header u-header" id="sec-1225"><div class="u-clearfix u-sheet u-sheet-1">
        <nav class="u-menu u-menu-one-level u-offcanvas u-menu-1">
          <div class="menu-collapse">
            <a class="u-button-style u-nav-link" href="#">
              <svg class="u-svg-link" viewBox="0 0 24 24"><use xlink:href="#svg-3758"></use></svg>
              <svg class="u-svg-content" version="1.1" id="svg-3758" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
</g></svg>
            </a>
          </div>
          <div class="u-custom-menu u-nav-container">
            <ul class="u-nav u-unstyled"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="edit_profile.html">Edit profile</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="profile">Profile</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li></ul>
          </div>
          <div class="u-custom-menu u-nav-container-collapse">
            <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="edit_profile.html">Edit profile</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="profile">Profile</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li></ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div></header>
    <section class="u-clearfix u-section-1" id="sec-33e1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <img class="u-image u-image-circle u-image-1" src="images/_14-9-2024_162211_www.bing.com.jpeg" alt="" data-image-width="247" data-image-height="232">
        <h3 class="u-text u-text-custom-color-2 u-text-default u-text-1">EDIT PICTURE OR AVATAR </h3>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-container-align-center u-section-2" id="sec-4dc0">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-form u-form-1">
          <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-15 u-form-vertical u-inner-form" style="padding: 15px;" source="email" name="form">
            <div class="u-form-group u-form-name u-label-none">
              <label for="name-6797" class="u-label">Name</label>
              <input type="text" placeholder="User name" id="name-6797" name="user_name-1" class="u-input u-input-rectangle" required="">
            </div>
            <div class="u-form-email u-form-group u-label-none">
              <label for="email-6797" class="u-label">Email</label>
              <input type="email" placeholder="Email" id="email-6797" name="user_name" class="u-input u-input-rectangle" maxlength="16">
            </div>
            <div class="u-form-group u-form-phone u-label-none u-form-group-3">
              <label for="phone-015b" class="u-label">Телефон</label>
              <input type="tel" placeholder="0700 123 456" id="phone-015b" name="phone_number" class="u-input u-input-rectangle" required="" data-country-code="kg">
            </div>
            <div class="u-form-group u-form-message u-label-none">
              <label for="message-6797" class="u-label">Address</label>
              <textarea placeholder="Bio" rows="4" cols="50" id="message-6797" name="bio" class="u-input u-input-rectangle" required="" maxlength="100"></textarea>
            </div>
            <div class="u-form-date u-form-group u-label-none u-form-group-5">
              <label for="date-367a" class="u-label">Дата</label>
              <input type="text" placeholder="DD/MM/YYYY" id="date-367a" name="date_of_birth" class="u-input u-input-rectangle" required="" data-date-format="dd/mm/yyyy">
            </div>
            <div class="u-form-group u-form-select u-label-none u-form-group-6">
              <label for="select-d315" class="u-label">Выпадающий список</label>
              <div class="u-form-select-wrapper">
                <select id="select-d315" name="select_gender" class="u-input u-input-rectangle">
                  <option value="Female" data-calc="">Female</option>
                  <option value="Male" data-calc="">Male</option>
                  <option value="Prefer not to say" data-calc="">Prefer not to say</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class="u-form-country u-form-group u-label-none u-form-group-7">
              <label for="country-577a" class="u-label">Страна</label>
              <div class="u-form-select-wrapper">
                <select id="country-577a" name="country" class="u-input u-input-rectangle">
                  <option value="United States">United States</option>
                </select>
                <svg class="u-caret u-caret-svg" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="16px" height="16px" viewBox="0 0 16 16" style="fill:currentColor;" xml:space="preserve"><polygon class="st0" points="8,12 2,4 14,4 "></polygon></svg>
              </div>
            </div>
            <div class="u-align-left u-form-group u-form-submit">
              <a href="#" class="u-btn u-btn-submit u-button-style u-custom-color-2 u-btn-1">ADD </a>
              <input type="submit" value="submit" class="u-form-control-hidden">
            </div>
            <div class="u-form-send-message u-form-send-success">Thank you! Your message has been sent.</div>
            <div class="u-form-send-error u-form-send-message">Unable to send your message. Please fix errors then try again.</div>
            <input type="hidden" value="" name="recaptchaResponse">
            <input type="hidden" name="formServices" value="4ac87fc7-d5de-4383-4c95-76e64b46e921">
          </form>
        </div>
      </div>
    </section>
    
    
    
    <footer class="u-align-center u-border-2 u-border-custom-color-2 u-clearfix u-container-align-center u-custom-color-4 u-footer u-footer" id="sec-cafe"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h1 class="u-custom-font u-font-playfair-display u-text u-text-custom-color-2 u-text-default u-title u-text-1">EcoSanaa</h1>
      </div></footer>

</body></html>